body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #494953;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div {
	display:block;
}
img {
	width: 300px;
	height: 80px;
}

.background {
	background-size:cover;
	background: url("./assets/droplets.jpg");
	animation: move-background 300s infinite;
  	display: block;

}

@keyframes move-background{

50% {
	    background-position: center;
    }
}
.container {
	width: 100%;
	margin-left: auto;
	margin-right: right;
}

.HomeContainer {
	padding-top: 50px;
	padding-bottom: 70px;
}

.container-row {
	padding: 0;
	flex-direction: row;
	display: flex;
	justify-content: space-around;
}

.text-column{
	flex-direction: column;
	justify-content: center;
	display: flex;
}

.column-content {
	max-height: 400px;
	max-width: 600px;
}

.title-home {
	font-size: 50px;
	margin-top: 0;
	margin-bottom: 37px;
	color: #F5F9FC;
}

.subtext {
	font-weight: 400;
	font-size: 25px;
	color: #FFFF;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 10px;
}

.animationContainer {
	width: 600px;
	height: 400px;
	mix-blend-mode:exclusion;
}
.testing {
	width: 600px;
	height: 400px;
}

.aboutContainer {
	background-color: #0c1e34;
	align: center;
	margin: auto;
	width: 50%;
	height: 30%;
	padding-top: 70px;
	padding-bottom: 100px;
	padding-left: 130px;
	padding-right: 120px;
	border-radius: 50px;
	color: white;
}

.aboutText p, h1 {
    font-family: "Ginger Pro Demi", "sans-serif";
    align:center;
    padding: 10px;
    text-align:center;
}

.aboutlogo {
	margin:auto;
	align:center;
	display:block;
}

.servicesContainer {
	padding-top:100px;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	margin:auto;
	height: 10%;
}

.GreaterContainer {
	display: block;
	padding-top: 150px;
}

.textservices {
	margin-top: 150px;
	background:white;
	margin: auto;
	width: 20%;
	border-radius: 20px;
	color: black;
}

.WebDesignContainer {
	padding:20px;
	display:flex;
	width:120px;
	flex-direction:column;
	background-color:white;
	border-radius: 15px;
}


.designclass {
	width:120px;
	filter: invert(1) brightness(0);

}

.webdevclass {
	width:100%;
	filter: brightness(0);
}

.WebDevelopmentContainer {
	padding:20px;
	display:flex;
	width:120px;
	flex-direction:column;
	background-color:white;
	border-radius: 15px;
}

.WebDevelopmentContainer h2{
	align:center;
	align-text:center;
}


.DigitalStrategyContainer {
	padding:20px;
	display:flex;
	width:120px;
	flex-direction:column;
	background-color:white;
	border-radius: 15px;
}

.digitalstrategy {
	width:100%;
	filter: brightness(0);
}

#Contact{
	display:block;
	padding-top: 150px;
}

.contactContainer{
}

.contactTextContainer{
	margin: auto;
	width: 50%;
	background-color: #0c1e34;
	padding-top: 15px;
	padding-bottom: 50px;
	border-radius: 25px;
}

.ContactSub{
	width: 60%;
	margin: auto;
	text-align: center;
}

.ContactUs {
	color:white;

}

.ContactSub{
	color:white;
}

.ContactInput{
	padding-top:50px;
	width: 50%;
	display:flex;
	flex-direction:row;
	margin:auto;

}

.ContactName {
    font-size: 18px;
    background-color: white;
    border: none;
    margin: auto;
    color: black;
    border-color: #0C1E34;
    border-radius: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;

}


.ContactMail {
    font-size: 18px;
    background-color: white;
    border: none;
    margin: auto;
    color: black;
    border-color: #0C1E34;
    border-radius: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10px;
    }
.ContactMessageContainer {
	padding-top: 30px;
	margin:auto;
}

.ContactMessage {
	padding-top:20px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-top: 40px;
	width: 42%;
	border-radius: 10px;
}

.ButtonContainer{
	display:flex;
	padding-top: 20px;
	justify-content: center;
}
.Button {
	background: white;
	color: black;
	margin: auto;
	text-align:center;
	width: 40%;
	border: none;
	padding: 10px 20px;
	margin: 5px;
	border-radius: 10px;
	text-decoration: none;
	font-size: 15px;
}

#Footer {
	display: block;
}

.FooterContainer {
	padding-top:50px;
	margin-right:auto;
	margin-left: auto;
	display:flex;

}

.FooterContent {
	margin: auto;
	font-size: 10px;
	width:100%;
	color:white;
	padding-top:10px;
	padding-bottom:10px;
	background-color: #0c1e34;
	border-top: 2px solid gray;
	flex-direction:row;
	justify-content:center;
	display:flex;
}

.FooterLogo{
	padding-left: 450px;

}

.FooterText {
	width: 30%;
}

